<template>
    <div class="container">
        <br>
        <h5>Daftar Event</h5>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Payment_Method</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(event,index) in events" :key="event.id">
                    <td>{{ index+1 }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.descrption }}</td>
                    <td>{{ event.price }}</td>
                    <td>{{ event.time_start }}</td>
                    <td>{{ event.time_end }}</td>
                    <td>{{ event.admin.name }}</td>
                    <td>
                    <select v-model="selected[index]">
                        <!-- <option disabled value="">Please select one</option> -->
                        <option>bca</option>
                        <option>permata</option>
                    </select>
                    </td>
                    <td>
                        <button class="btn btn-secondary" @click="beli(event.id,selected[index])">beli</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data : function() {
        return {
            events: [], 
            selected: [],
            va: ''
        }
    },
    mounted(){
        axios.get('/event/getAll').then(response => {
            this.events = response.data.data
        })
    },
    methods: {
        onChange(event) {
            this.selected = []
            this.selected.push(event.target.value)
        },
        beli(event_id,method){
            axios
            .post('/order/make/'+event_id+'/'+window.localStorage.getItem('user'), {
                method:method,
            })
            .then(response => {
                if(method == 'bca'){
                    this.va = response.data.payment.original.data.va_numbers[0].va_number
                }else{
                    this.va = response.data.payment.original.data.permata_va_number
                }
                alert('Berhasil Membeli Event Ini. Silahkan Bayar Ke VA ini : '+this.va)
                console.log(response.data.payment)
            })
        }
    }
}
</script>