<template>
    <div class="container">
        <br>
        <h5>Daftar Transaksi</h5>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Event_Name</th>
                    <th scope="col">Event_Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Method</th>
                    <th scope="col">Status</th>
                    <th scope="col">Payment_Create</th>
                    <th scope="col">Streaming</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(payment,index) in payments" :key="payment.id">
                    <td>{{ index+1 }}</td>
                    <td>{{ payment.order.event.name }}</td>
                    <td>{{ payment.order.event.descrption }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.method }}</td>
                    <td>{{ payment.status }}</td>
                    <td>{{ payment.created_at }}</td>
                    <td v-if="payment.status == 'paid'">
                        <button class="btn btn-secondary" @click="nonton(payment.order.event.id)">Nonton</button>
                    </td>                
                    <td v-else>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data : function() {
        return {
            payments: []  
        }
    },
    mounted(){
        axios
        .get('/payment/getByUser/'+window.localStorage.getItem('user'))
        .then(response => {
            this.payments = response.data.data
        })
    },
    methods: {
        nonton(event_id){
            axios.get('/event/getVideo/'+event_id)
            .then(response=>{
                window.localStorage.setItem('video_source',response.data.data[0].video_source)
                this.$router.push({name: 'userstreaming'})
            })
        }
    }
}
</script>