<template>
    <div class="container">
        <br>
        <h5>Daftar Stream</h5>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" :src="src" allowfullscreen></iframe>
                </div>
                {{ src }}
            </div>
            <div class="col-md-4">
                <comment-box-component />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data : function() {
        return {
            video_source: '',
            src: ''
        }
    },
    mounted(){
        let video = this.video_source = window.localStorage.getItem('video_source')
        this.src = "/upload/"+video+""
        console.log(this.src)
    }

}
</script>