<template>
    <div class='container'>
        <br>
        <h4>Selamat Datang, {{namaa}}</h4>
        <br>
        <button class="btn btn-primary" @click="event()">Lihat Event</button>
        <button class="btn btn-secondary" @click="order()">Lihat Transaksi</button>
        
        <br>
        <router-view/>
    </div>
</template>

<script>
export default {
    mounted(){
        axios
            .get('/infoUser')
            .then(response =>{
                window.localStorage.setItem('user',response.data.admin.id)
                this['namaa'] = response.data.admin.name;
            })
    },
    data(){
        return{namaa:'heheheh'}
    },
    methods: {
        event(){
            this.$router.push({name: 'userdashboard'})
        },
        order(){
            this.$router.push({name: 'userorder'})
        },
        stream(){
            this.$router.push({name: 'userstreaming'})
        }
    }
}
</script>
