<template>
    <div class="container">
        <br>
        <h5>Tambah Event</h5>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Tambah Event</div>
                    <div class="card-body">
                        <form @submit.prevent="addEvent()" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Nama Event</label>
                                <input
                                type="text"
                                class="form-control"
                                placeholder="Masukkan Nama Event"
                                v-model="form.name"
                                required
                                >
                            </div>
                            <div class="form-group">
                                <label>Deskripsi</label>
                                <input
                                type="text"
                                class="form-control"
                                placeholder="Masukkan Deskripsi Event"
                                v-model="form.descrption"
                                required
                                >
                            </div>
                            <div class="form-group">
                                <label>Harga</label>
                                <input
                                type="number"
                                class="form-control"
                                placeholder="Masukkan Deskripsi Event"
                                v-model="form.price"
                                required
                                >
                            </div>
                            <div class="form-group">
                                <label>Banner</label>
                                <div class="col-md-6" v-if="image">
                                    <img :src="image" class="img-responsive" height="70" width="90">
                                </div>
                                <input type="file" class="form-control" v-on:change="onFileChange" required>
                            </div>
                            <div class="form-group">
                                <label>Video</label>
                                <input type="file" class="form-control" v-on:change="onVideoChange" required>
                            </div>
                            <!-- <div class="form-group">
                                <label>Banner</label>
                                <input
                                type="text"
                                class="form-control"
                                placeholder="Masukkan Banner"
                                v-model="form.banner"
                                required
                                >
                            </div> -->
                            <!-- <div class="form-group">
                                <label>Video</label>
                                <input
                                type="text"
                                class="form-control"
                                placeholder="Masukkan Video"
                                v-model="form.video"
                                required
                                >
                            </div> -->
                            <div class="form-group">
                                <label>Waktu Mulai</label>
                                <input
                                type="datetime"
                                class="form-control"
                                placeholder="Masukkan Waktu Mulai"
                                v-model="form.time_start"
                                required
                                >
                            </div>
                            <div class="form-group">
                                <label>Waktu Selesai</label>
                                <input
                                type="datetime"
                                class="form-control"
                                placeholder="Masukkan Waktu Selesai"
                                v-model="form.time_end"
                                required
                                >
                            </div>
                            <button class="btn btn-primary">Tambah</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data : function() {
        return {
            form : {
                name:'',
                descrption:'',
                price:'',
                banner:'',
                video:'',
                time_start:'',
                time_end:'',
                file: ''
            },
            image: ''
        }
    },
    methods: {
        onFileChange(e){
            this.form.file = e.target.files[0]
            this.createImage(e.target.files[0]);
        },
        onVideoChange(e){
            this.form.video = e.target.files[0]
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        addEvent() {
            console.log(this.form.file)
    
            let formData = new FormData()
            formData.append('banner', this.form.file)
            formData.append('name', this.form.name)
            formData.append('descrption',this.form.descrption)
            formData.append('price',this.form.price)
            formData.append('video',this.form.video)
            formData.append('time_start',this.form.time_start)
            formData.append('time_end',this.form.time_end)
            formData.append('admin_id',window.localStorage.getItem('admin'))

            axios
            .post('/event/store', formData)
            .then(response =>{
                alert("Berhasil Tambah")
                this.$router.push({name: 'dashboard'})
            })        
        }
    }
}
</script>