<template>
    <div class='container'>
        <br>
        <h4>Selamat Datang, {{namaa}}</h4>
        <br>
        <button class="btn btn-primary" @click="event()">Lihat Event</button>
        <button class="btn btn-secondary" @click="order()">Lihat Transaksi</button>
        <button class="btn btn-primary" @click="add()">Tambah Event</button>
        <br>
        <router-view/>
    </div>
</template>

<script>
export default {
    mounted(){
        axios
            .get('/infoAdmin')
            .then(response =>{
                console.log(response.data.admin)
                window.localStorage.setItem('admin',response.data.admin.id)
                this['namaa'] = response.data.admin.name;
            })
            .catch(function (error) {
                console.log(error);
            });
    },
    data(){
        return{namaa:'heheheh'}
    },
    methods: {
        event(){
            this.$router.push({name: 'dashboard'})
        },
        order(){
            this.$router.push({name: 'order'})
        },
        add(){
            this.$router.push({name: 'addEvent'})
        }
    }
}
</script>
