<template>
    <div class="container">
        <br>
        <h5>Daftar Event</h5>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(event,index) in events" :key="event.id">
                    <td>{{ index+1 }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.price }}</td>
                    <td>{{ event.time_start }}</td>
                    <td>{{ event.time_end }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data : function() {
        return {
            events: [],
        }
    },
    mounted(){
        axios
        .get('/event/getByAdmin/'+window.localStorage.getItem('admin'))
        .then(response => {
            this.events = response.data.data
        })
    },
    methods: {
        
    }
}
</script>