<template>
    <div class="container">
        <br>
        <h5>Daftar Transaksi</h5>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Event_Name</th>
                    <th scope="col">Event_Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Method</th>
                    <th scope="col">Status</th>
                    <th scope="col">Payment_Create</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(payment,index) in payments" :key="payment.id">
                    <td>{{ index+1 }}</td>
                    <td>{{ payment.order.event.name }}</td>
                    <td>{{ payment.order.event.descrption }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.method }}</td>
                    <td>{{ payment.status }}</td>
                    <td>{{ payment.created_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data : function() {
        return {
            payments: []  
        }
    },
    mounted(){
        axios
        .get('/payment/getByAdmin/'+window.localStorage.getItem('admin'))
        .then(response => {
            this.payments = response.data.data
        })
    },
    methods: {
        
    }
}
</script>