<template>
    <div>
        <div class="comment-lists">
            <div class="messages container" v-for="comment in comments" :key="comment.id">
                <div class="users">
                    <span class="badge badge-pill badge-primary">{{comment.user.name}}</span>
                    <span class="time">{{comment.created_at}}</span>
                </div>
                <div class="message">
                    "{{comment.subject}}"
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BusEvent from '../../bus'

export default {
    data() {
        return {
            comments : []
        }
    },
    mounted() {
        this.getAllcomments();
        console.log(this.comments);
        BusEvent.$on('comment.sent', (newComment) => {
            this.comments.push(newComment);
            this.scrollToBottom();
        });
    },
    methods: {
        getAllcomments(){
                axios.get('/comments').then(response => {
                console.log(response.data.data);    
                this.comments = response.data.data.reverse();
                this.scrollToBottom();
            });
        },
        scrollToBottom(){
            setTimeout(function(){
                let commentLists = document.getElementsByClassName('comment-lists')[0];
                commentLists.scrollTop = commentLists.scrollHeight
            },1);
        }
    }

}
</script>

<style lang="scss">
    .messages{
        margin-top: 5px;
        .time{
            font-weight: 300;
        }
        .message{
            font-size: 1.2rem;
        }
    }

    .comment-lists{
        max-height: 400px;
        overflow-y: scroll;
        background-color:whitesmoke;
    }
</style>