<template>
    <form>
        <div class="form-action">
            <textarea placeholder="Isi pesan anda di sini" class="form-control"
            v-model="body" @keydown="handleInput"></textarea>
        </div>
    </form>
</template>

<script>
import moment from 'moment'
import BusEvent from '../../bus'

export default {
     data() {
        return {
            body : '',
        }
    },

    methods : {
        handleInput(e){
            if(e.keyCode === 13 && !e.shiftKey){
                e.preventDefault()
                this.submit()
            }
        },
        submit(){
            let bodyInput = this.body.trim();

            if(bodyInput === ''){
                return
            }

            let newComment = {
                subject : bodyInput,
                created_at : moment().utc(0).format('DD-MM-YYYY HH:mm:ss'),
                user : {
                    name : Laravel.user.name, 
                }
            }

            axios.post('/comments', {subject : bodyInput}).then(response => {
                BusEvent.$emit('comment.sent', newComment);
                this.body = '';
            })
        }
    }


}
</script>
