<template>
        <div>
            <user-online-component />
            <br>
            <comment-message-component />
            <comment-form-component />
        </div>
</template>

<script>
    export default {
        mounted() {
            
        }
    }
</script>
