<template>
    <div class="user-lists">
        <div >
            <h4>Daftar User Online : <span class="badge badge-success">{{ users.length }}</span></h4>
        </div>
            <span class="badge badge-pill badge-success mr-1"
             v-for="user in users" :key="user.id"> {{ user.name }}
            </span> 
    </div>
</template>

<script>
    import BusEvent from '../../bus'

    export default {
        data(){
            return {
                users : [],
            }
        },
        mounted(){
            BusEvent.$on('comment.here' , (users) => {
                this.users = users
            }).$on('comment.joining' , (user) => {
                this.users.push(user)
            }).$on('comment.leaving' , (user) => {
                this.users = this.users.filter((u) => {
                    return u.id !== user.id
                })
            })
        }
    }
</script>

<style lang="scss">
    .user-lists{
        background-color : whitesmoke;
        padding: 10px;
    }
</style>